<div class="detalle-container" *ngIf="!loading; else cargando">
  <img
    [src]="project?.picture"
    [alt]="project?.name || 'Imagen del proyecto'"
    class="detalle-image"
  />
  <div class="detalle-content">
    <h2 class="detalle-title">{{ project?.name }}</h2>
    <p class="detalle-category">{{ project?.category }}</p>
    <p class="detalle-description">{{ project?.description }}</p>
    <button class="btn-volver" (click)="volver()">Volver</button>
  </div>
</div>
<!-- Renderiza el componente de comentarios aquí -->
<app-comment></app-comment>

<ng-template #cargando>
  <p>Cargando información, por favor espera...</p>
</ng-template>
