<div class="banner">
  <h1>EmprendeCo</h1>
  <p>Conecta con empresarios, impulsa tus ideas y transforma tus sueños en realidad.</p>
  <button routerLink="/publicacion">¡Publica tu proyecto ahora!</button>
</div>

<div class="content">
  <!-- Aquí va el contenido principal del componente Emprendimientos -->
</div>

<div class="emprendimientos-container">
  <div *ngFor="let emprendimiento of emprendimientosList" class="card">
    <img [src]="emprendimiento.picture || 'default-image.jpg'" alt="{{ emprendimiento.name }}" class="card-image" />
    <div class="card-content">
      <h3 class="card-title">{{ emprendimiento.name }}</h3>
      <p class="card-category">{{ emprendimiento.category }}</p>
      <p class="card-description">
        {{ emprendimiento.description | slice:0:100 }}{{ emprendimiento.description.length > 100 ? '...' : '' }}
      </p>
      <button class="btn-ver-mas" routerLink="/emprendimientos/{{ emprendimiento.id }}">Ver más</button>
    </div>
  </div>
</div>
